.spinner{
    width: 240px;
    height: 240px;
    display:inline-block;
 
    animation: 4s linear 1s infinite spin;
    
    /* transform: rotate(20deg); */


}

.ghost-page{
    margin: 0;
    background-image: linear-gradient(to right, #EDF2FB, #E2EAFC, #D7E3FC,#CCDBFD,#C1D3FE, #B6CCFE, #ABC4FF);
}
    @keyframes spin {
        0% {transform: rotate(0deg)}
        10% {transform: rotate(36deg)}
        20% {transform: rotate(72deg)}
        30% {transform: rotate(108deg)} 
        40% {transform: rotate(144deg);} 
        50% {transform: rotate(180deg)} 
        60% {transform: rotate(216deg)} 
        70% {transform: rotate(252deg)} 
        80% {transform: rotate(288deg)} 
        90% {transform: rotate(324deg)}
        100% {transform: rotate(360deg)}
    }

.spin-box{  
    padding: 15% 0;
    padding-left: 42%;
  
    background-image: linear-gradient(to right, #EDF2FB, #E2EAFC, #D7E3FC,#CCDBFD,#C1D3FE, #B6CCFE, #ABC4FF);
}
#spinner-text {
    margin-top: 20px;
    font-size: 1.5em;
    position: relative;

    left: -50px;
}
/* .spinner:hover{
    transform: rotate(50deg);
} */
@media (max-width: 860px) {
    .spinner{
    width: 20%;
    height: auto;
    display:block;
    margin: 0 auto;
    }



.spin-box{  
    padding: 0;
    padding-top: 40%;
    height: 100vh;
    background-image: linear-gradient(to right, #EDF2FB, #E2EAFC, #D7E3FC,#CCDBFD,#C1D3FE, #B6CCFE, #ABC4FF);
    text-align: center;
}
#spinner-text {
    margin-top: 0;
    font-size: 1.5em;
    position: static;
}
}

