.shop-container{
    margin: 6% 2vw;
    display: grid;
    grid-template-columns: 0fr 1fr 3fr;


}
.item-grid-inner{
    width: fit-content;
}

.side-menu{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.item-grid-inner{
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    /* margin-bottom: 25%; */
    

}
/* CATEGORY MENU BUTTON */
.category-menu{
    width: 100%;
    position: fixed;
    top: 10vh;
    border: none;
    background-color: antiquewhite;
    padding: 2vh 0;
    display: none;

}
.item-card{
    height: fit-content;
}

@media (max-width: 860px) {
    .shop-container{
        /* margin: 25vh 0; */
        display: block;
        height: fit-content;
    }
    .category-menu{
        display: block
    }
    /* MENU OPEN START */
    .side-menu{
        display: block;
        position: fixed;
        background-color: #f1f1f1;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        width: 70%;
        z-index: 400;
        padding: 11vh 2%;
        font-size: small;
    }
    .side-menu a{
        border-bottom: solid thin lightgrey;
        padding: 2px 0;
    }
    .gray-overlay{
        position: fixed;
        background-color: rgba(0,0,0,0.5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 300;
    }
    /* MENU OPEN END */

    /* MENU CLOSED */
    .menu-closed{
        display: none;
    }

    .side-menu a{
        display: block;
    }

    .item-grid-inner{
        margin: 1%;
        display: grid;
        grid-template-columns: repeat(2, 48vw);
        grid-gap: 1%;
        margin-bottom: 10vh
         
    }

}