.search-page{
    margin: 10% 5%;
}



.search-bar{
    width: 500px;
     border: 1px rgb(0, 0, 0) solid;
     padding: 15px;
    margin-right: 1vw;
    border-radius: 20px;
    outline: none;
}


.search-bar-container{
    display: flex;
    width: 600px;
    align-items: center;
    margin: auto;
}

.result-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5vh;
    
}