.menu{

    background: aliceblue;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
.menu-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.icon-bar img{
    width: 14px;
}
.menu a:not(:last-child){
    margin-right: 15px;
}
.menu a{
    display: inline-block;
    font-weight: 400;
    padding: 30px 10px;
}
.logo img{
width: 100%;
}
.logo a{
    width: 50px;
}
.menu-bar a:hover{
    text-shadow: 0 0 10px #00cab4;
}
.box-burger{
    display: none
}


@media (max-width: 860px) {
    /* hiding the original menu */
    .menu-box{
        display: none;
    }
    /* CONTAINER STYLES */
    .menu{
        display: block;
        position: fixed;
        border-radius: 0;
        background-color: #f8edeb;
        height: fit-content;
        margin: 0;
        z-index: 1000;
        min-height: 10vh !important;
        

    }
   
    .box-burger{
        display: block;
        min-height: 10vh !important;
        max-height: 10vh !important;
    }
    .top-burger{
        padding: 5px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10vh !important;
        max-height: 10vh !important;
    }
    .top-burger a{
        padding: 0;
        margin: 0;
    }
    /* ELEMENT STYLES */
    .logo-burger, .top-burger a{
        min-width: 50px;
        max-width: 3%;
        max-height: 3%;
        min-height: 3% !important;
        max-height: 3% !important;
        /* height: fit-content */
    }
    .bar-wrapper{
        display: inline-block;
    }
    .website-name{
        font-size: 1.5em;
        font-weight: bold;
        text-shadow: 0 0 3px white;
    }
    .bottom-burger{
        background-color: #EBF5FB;
        transition: display 10s;
        overflow: scroll;
    }
    .bottom-burger a{
        display: block;
        font-size: 1em;
        padding: 20px 0;
        padding-left: 5%;
        width: fit-content;
        
    }
    .closed{
        display: none;
        transition: 10s;
        
    }
    .opened{
        display: block;
         transition: 10s;
    }
}