/*external*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');




/*OVERALL PAGE STYLES*/
a{
  color: black;
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  padding-right: 0;
  /* color: black; */
}
body{
  font-family: Poppins, sans-serif;
  background-color: white;
}
/* .Main{
  width: 100vw;
} */
/*MENU BAR STYLES*/


/*HEADER STYLES*/





/*WOMENS FASHION*/


/*COLLAGE*/

/*BANNER*/



/*FOOTER*/

/*COPYRIGHT*/

button{
  cursor: pointer;
}