/*external*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');




/*OVERALL PAGE STYLES*/
a{
  color: black;
  text-decoration: none;
  display: inline-block;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  padding-right: 0;
  scroll-behavior: smooth;
  min-height: fit-content;
  
  /* color: black; */
}
body{
  font-family: Poppins, sans-serif;
  background-color: white;
}

@media (max-width:860px) {
  *{
    min-height: 0;
  }
  .content-padding{
    margin-top: 9vh;
  }
}

/* .Main{
  width: 100vw;
} */
/*MENU BAR STYLES*/


/*HEADER STYLES*/





/*WOMENS FASHION*/


/*COLLAGE*/

/*BANNER*/



/*FOOTER*/

/*COPYRIGHT*/

button{
  cursor: pointer;
}


.carousel-control-next, .carousel-control-prev{
  top: 50%;
}